---
layout: default
---

<!-- <div id="help-header" class="full-width">
  <div class="wrapper">
    <h1>A little help from your friends...</h1>
  </div>
</div>
<div class="home main-sidebar">
<div id="help-boxes" class="full-width">
    <div class="wrapper">
      <div class="help-box">
        <h2><a href="articles/getting-started.html">Getting Started</a></h2>
        <p>Your go to guide for how to setup vero and start sending awesome email campaigns.</p>
        <a href="articles/getting-started.html">Read the guide</a>
      </div>
      <div class="help-box">
        <h2><a href="http://developers.getvero.com">Developer API</a></h2>
        <p>Everything you need to know to get the most out of Vero in Javascript, Ruby, iOS & more.</p>
        <a href="http://developers.getvero.com">Developer API</a>
      </div>
      <div class="help-box">
        <h2><a href="mailto:support@getvero.com">Contact Support</a></h2>
        <p>Whatever issue you have, we've got your back.</p>
        <a href="mailto:support@getvero.com">support@getvero.com</a>
      </div>
    </div>
  </div>
  <div class="main-wrapper algolia__initial-content js-algolia__initial-content">
    <div id="getting-started" class="blue-panel">
      {% assign items = site.articles | where: "common_issues", true | sort: 'title' %}
      <h2>Common Issues</h2>
      <ul class="article-list unstyled-list">
        {% for item in items %}
          <li>
            <a class="article-link" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
          </li>
        {%endfor%}
      </ul>
    </div>

    <div id="all">
      {% assign groups = site.articles | group_by: "categories" %}
      {% for group in groups %}
        {% assign name = group.name | split: '[' | join: '' | split: ']' | join: '' | split: '"' | join: '' | split: ',' | join: ' ' %}
        {% if name | size > 1 %}
          <h2 id="{{ name | downcase }}">{{ name | capitalize }}</h2>
          <ul class="article-list unstyled-list">
            {% assign items = group.items | sort: 'title' %}
            {% for item in items %}
              {% unless item.hide == true %}
                <li>
                  <a class="article-link" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
                </li>
              {% endunless %}
            {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
    </div>
    <div class="support-block white-block">
      <h2 class="block-title">Didn't find what you were looking for?</h2>
      <p>Get in touch, we're always happy to help. Email us at: <a href="#">support@getvero.com</a></p>
    </div>
    <div class="open-block white-block">
      <h2 class="block-title">Improve our docs</h2>
      <p>Our help docs are open to everyone, help us make them better by contributing on <span class="fa fa-github"></span><a href="https://github.com/getvero/getvero.github.io"> Github</a> and you'll be our new best friend!</p>
    </div>
  </div>

  <div class="algolia__search-content js-algolia__search-content">
    <h2 class="page-title">Search Results:</h2>
    <div id="search-hits"></div>
  </div>

  <div class="sidebar-wrapper">
    <div id="search-searchbar" class="help-search hide-on-mobile">
    </div>
    <div class="white-block hide-on-mobile" id="categories">
      <h3 class="gray-block-title">Categories</h3>
      <ul class="unstyled-list">
        {% assign groups = site.articles | group_by: "categories" | sort: "name" %}
        {% for group in groups %}
          {% assign name = group.name | split: '[' | join: '' | split: ']' | join: '' | split: '"' | join: '' | split: ',' | join: ' ' %}
          {% if name | size > 1 %}
            <li><a href="#{{ name | downcase }}">{{ name | capitalize }}</a></li>
          {% endif %}
        {%endfor%}
      </ul>
    </div>
    <div id="sp-status-block" class="white-block">
      <h3 class="gray-block-title">Vero Status</h3>
      <div id="sp-status">
      </div>
      <ul id="sp-incidents" class="unstyled-list">
      </ul>
    </div>
  </div>
</div> -->

<main>
  <section class="banner">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">

          <!-- Heading -->
          <h1 class="display-2 font-weight-bold text-white">
            What Do You Need?
          </h1>

          <!-- Text -->
          <p class="lead text-white-75 mb-0">
            We're here to help you better use trusender. First, let's figure out if we have a solution in our
            documentation.
          </p>

        </div>
      </div> <!-- / .row -->
    </div>

    <div class="banner-background">
      <div
        style="background-image: url('./assets/images/cover-4.jpg'); position: absolute; top: 0px; left: 0px; width: 100%; height: 535px;background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; overflow: hidden; pointer-events: none; margin-top: -121px; transform: translate3d(0px, 121.4px, 0px);">
      </div>
    </div>
  </section>

  <div class="position-relative">
    <div class="shape shape-bottom shape-fluid-x svg-shim" style="color:#fff">
      <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
      </svg>
    </div>
  </div>

  <section class="content">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <a href="/articles/billing.html">
            <div class="card card-border border-primary shadow-lg mb-6 mb-md-8 lift lift-lg">
              <div class="card-body text-center">

                <!-- Icon -->
                <div class="icon-circle bg-primary text-white mb-4">
                  <i class="fas fa-money-bill"></i>
                  <!-- <i class="fas fa-user-friends"></i> -->
                </div>

                <!-- Heading -->
                <h4 class="font-weight-bold">
                  Billing
                </h4>

                <!-- Text -->
                <p class="text-gray-700 mb-5">
                  Issues with payments or invoicing and other billing issues.
                </p>

              </div>
            </div>
          </a>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <a href="/articles/campaigns.html">
            <div class="card card-border border-success shadow-lg mb-6 mb-md-8 lift lift-lg">
              <div class="card-body text-center">

                <!-- Icon -->
                <div class="icon-circle bg-success text-white mb-4">
                  <i class="fas fa-users"></i>
                </div>

                <!-- Heading -->
                <h4 class="font-weight-bold">
                  Campaigns
                </h4>

                <!-- Text -->
                <p class="text-gray-700 mb-5">
                  Connecting with 3rd party apps to exchange data.
                </p>

              </div>
            </div>
          </a>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <a href="/articles/configuration.html">
            <div class="card card-border border-warning shadow-lg mb-6 mb-md-8 lift lift-lg">
              <div class="card-body text-center">

                <!-- Icon -->
                <div class="icon-circle bg-warning text-white mb-4">
                  <i class="fas fa-cogs"></i>
                </div>

                <!-- Heading -->
                <h4 class="font-weight-bold">
                  Configuration
                </h4>

                <!-- Text -->
                <p class="text-gray-700 mb-5">
                  Issues with payments or invoicing.
                </p>

              </div>
            </div>
          </a>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <a href="/articles/customer-data.html">
            <div class="card card-border border-dark shadow-lg mb-6 mb-md-8 lift lift-lg">
              <div class="card-body text-center">

                <!-- Icon -->
                <div class="icon-circle bg-dark text-white mb-4">
                  <i class="fas fa-user"></i>
                </div>

                <!-- Heading -->
                <h4 class="font-weight-bold">
                  Customer data
                </h4>

                <!-- Text -->
                <p class="text-gray-700 mb-5">
                  Setting up and managing collections of users.
                </p>

              </div>
            </div>
          </a>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <a href="/articles/deliverability.html">
            <div class="card card-border border-info shadow-lg mb-6 mb-md-8 lift lift-lg">
              <div class="card-body text-center">

                <!-- Icon -->
                <div class="icon-circle bg-info text-white mb-4">
                  <i class="fas fa-clock"></i>
                </div>

                <!-- Heading -->
                <h4 class="font-weight-bold">
                  Deliverability
                </h4>

                <!-- Text -->
                <p class="text-gray-700 mb-5">
                  Improving your system's speed and reliability.
                </p>

              </div>
            </div>
          </a>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <a href="/articles/email-design.html">
            <div class="card card-border border-danger shadow-lg mb-6 mb-md-8 lift lift-lg">
              <div class="card-body text-center">

                <!-- Icon -->
                <div class="icon-circle bg-danger text-white mb-4">
                  <i class="fas fa-pencil-alt"></i>
                </div>

                <!-- Heading -->
                <h4 class="font-weight-bold">
                  Email design
                </h4>

                <!-- Text -->
                <p class="text-gray-700 mb-5">
                  Building custom modules on top of our platform.
                </p>

              </div>
            </div>
          </a>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <a href="/articles/event-data.html">
            <div class="card card-border border-warning shadow-lg mb-6 mb-md-8 lift lift-lg">
              <div class="card-body text-center">

                <!-- Icon -->
                <div class="icon-circle bg-warning text-white mb-4">
                  <i class="fas fa-calendar-week"></i>
                </div>

                <!-- Heading -->
                <h4 class="font-weight-bold">
                  Event data
                </h4>

                <!-- Text -->
                <p class="text-gray-700 mb-5">
                  Issues related to logging in, out, or about multiple devices.
                </p>

              </div>
            </div>
          </a>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <a href="/articles/segments.html">
            <div class="card card-border border-success shadow-lg mb-6 mb-md-8 lift lift-lg">
              <div class="card-body text-center">

                <!-- Icon -->
                <div class="icon-circle bg-success text-white mb-4">
                  <i class="fab fa-buffer"></i>
                </div>

                <!-- Heading -->
                <h4 class="font-weight-bold">
                  Segments
                </h4>

                <!-- Text -->
                <p class="text-gray-700 mb-5">
                  Issues related to logging in, out, or about multiple devices.
                </p>

              </div>
            </div>
          </a>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <a href="/articles/common-articles.html">
            <div class="card card-border border-dark shadow-lg mb-6 mb-md-8 lift lift-lg">
              <div class="card-body text-center">

                <!-- Icon -->
                <div class="icon-circle bg-dark text-white mb-4">
                  <i class="fas fa-newspaper"></i>
                </div>

                <!-- Heading -->
                <h4 class="font-weight-bold">
                  Common Artciles
                </h4>

                <!-- Text -->
                <p class="text-gray-700 mb-5">
                  Issues related to logging in, out, or about multiple devices.
                </p>

              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-sec">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">

          <!-- Heading -->
          <h2 class="font-weight-bold">
            Can't find the answer you need?
          </h2>

          <!-- Text -->
          <p class="font-size-lg text-muted mb-7 mb-md-9">
            Contact us and we'll get back to you as soon as possible with a solution to whatever issues you're having
            with trusender.
          </p>

        </div>
      </div>

      <div class="row mb-7 mb-md-9">
        <div class="col-12 col-md-4 text-center">

          <!-- Heading -->
          <h6 class="text-uppercase text-gray-700 mb-1">
            Message us
          </h6>

          <!-- Link -->
          <div class="mb-5 mb-md-0">
            <a href="#!" class="h4 text-primary">
              Start a chat!
            </a>
          </div>

        </div>

        <div class="col-12 col-md-4 text-center border-left-md border-gray-300">

          <!-- Heading -->
          <h6 class="text-uppercase text-gray-700 mb-1">
            Call anytime
          </h6>

          <!-- Link -->
          <div class="mb-5 mb-md-0">
            <a href="#!" class="h4">
              (555) 123-4567
            </a>
          </div>

        </div>

        <div class="col-12 col-md-4 text-center border-left-md border-gray-300">

          <!-- Heading -->
          <h6 class="text-uppercase text-gray-700 mb-1">
            Email us
          </h6>

          <!-- Link -->
          <a href="#!" class="h4">
            support@goodthemes.co
          </a>

        </div>


      </div>

      <div class="row justify-content-center">
        <div class="col-12">

          <!-- Form -->
          <form>
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group mb-5">

                  <!-- Label -->
                  <label for="contactName">
                    Full name
                  </label>

                  <!-- Input -->
                  <input type="text" class="form-control" id="contactName" placeholder="Full name" required>

                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group mb-5">

                  <!-- Label -->
                  <label for="contactEmail">
                    Email
                  </label>

                  <!-- Input -->
                  <input type="email" class="form-control" id="contactEmail" placeholder="hello@domain.com" required>

                </div>
              </div>
            </div> <!-- / .row -->
            <div class="row">
              <div class="col-12">
                <div class="form-group mb-7 mb-md-9">

                  <!-- Label -->
                  <label for="contactMessage">
                    What can we help you with?
                  </label>

                  <!-- Input -->
                  <textarea class="form-control" id="contactMessage" rows="5"
                    placeholder="Tell us what we can help you with!" required></textarea>

                </div>
              </div>
            </div> <!-- / .row -->
            <div class="row">
              <div class="col-auto">

                <!-- Submit -->
                <button type="submit" class="btn btn-primary lift">
                  Submit request
                </button>

              </div>
            </div> <!-- / .row -->
          </form>

        </div>
      </div>
    </div>
  </section>
</main>