<div class="position-relative">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
      <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="#000"></path>
      </svg>
  </div>
</div>


<footer>
  <div class="container">
      <div class="row">
          <div class="col-md-3">
              <a href="https://www.trusender.com" class="footer-logo">
                  trusender
              </a>

              <ul class="social-icons">
                  <li><a href=""><img src="../assets/images/facebook.svg" class="social-icon" alt=""></a></li>
                  <li><a href=""><img src="../assets/images/linkedin.svg" class="social-icon" alt=""></a></li>
                  <li><a href=""><img src="../assets/images/twitter.svg" class="social-icon" alt=""></a></li>
              </ul>
          </div>
          <div class="col-md-9">
              <div class="row">
                  <div class="col-md-3">
                      <h4>Product
                      </h4>
                      <ul>
                          <li><a href="">Dynamic Templates</a></li>
                          <li><a href="https://www.trusender.com/pricing">Pricing page</a></li>
                          <li><a href="https://www.trusender.canny.io/">Roadmap </a></li>
                          <li><a href="https://www.trusender.canny.io/feature-requests">Future Requests</a></li>
                      </ul>
                  </div>
                  <div class="col-md-3">
                      <h4>Integrations
                      </h4>
                      <ul>
                          <li><a href="">SES </a></li>
                          <li><a href="">Mailgun</a></li>
                      </ul>
                  </div>
                  <div class="col-md-3">
                      <h4>Resouces
                      </h4>
                      <ul>
                          <li><a href="https://help.trusender.com">Help Center</a></li>
                          <li><a href="https://develpers.trusender.com">API Docs</a></li>
                          <li><a href="https://www.trusender.com/careers">Career page</a></li>
                          <li><a href="https://headwayapp.co/bramu-changelog">Release Notes</a></li>
                          <li><a href="https://www.trusender.statuspage.io/">Status page</a></li>
                      </ul>
                  </div>
                  <div class="col-md-3">
                      <h4>Company
                      </h4>
                      <ul>
                          <li><a href="https://www.trusender.com/careers">Careers</a></li>
                          <li><a href="https://www.trusender.com/gdpr">GDPR</a></li>
                          <li><a href="https://www.trusender.com/terms_of_service">Terms of Service</a></li>
                          <li><a href="https://www.trusender.com/privacy_policy">Privacy Policy</a></li>
                          <li><a href="https://www.trusender.com/contact_us">Contact Us</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>

      <p>Made with <img src="../assets/images/like.svg" alt=""> by TruSender.All Rights Reserved.</p>
  </div>
</footer>