/**
 * Site header
 */

@font-face {
    font-family: 'hk_groteskbold_legacy';
    src: url('hkgrotesk-boldlegacy-webfont.woff2') format('woff2'),
        url('hkgrotesk-boldlegacy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: HKGroteskPro;
    font-weight: 400;
    src: url('HKGroteskPro-Regular.woff2') format("woff2"), url('HKGroteskPro-Regular.woff') format("woff")
}

@font-face {
    font-family: HKGroteskPro;
    font-weight: 600;
    src: url('HKGroteskPro-Medium.woff2') format("woff2"), url('HKGroteskPro-Medium.woff') format("woff")
}

body {
    margin: 0;
    font-family: HKGroteskPro, serif;
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.6;
    color: #161c2d;
    text-align: left;
    background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
    font-family: 'hk_groteskbold_legacy';
    font-weight: 600;
}

body,
html {
    height: 100%;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.container {
    width: 100%;
    max-width: 1040px;
    padding: 0 20px;
    margin: 0 auto;
}

.custom-container {
    width: 100%;
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
}

.btn-black {
    background: var(--black);
    color: var(--white);
    border: 2px solid var(--black);
    transition: all .2s linear;
    white-space: nowrap;
}

.btn-black:hover {
    background: var(--white);
    color: var(--black);
}

.btn:focus {
    outline: 0;
    box-shadow: initial;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}


a {
    color: var(--black);
}

main {
    margin-top: 83px;
}

// header styles


header {
    position: fixed;
    height: 83px;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--white);
    z-index: 2;
    transition: all .3s;
}

header .navbar-light .navbar-nav .nav-link {
    font-family: 'hk_groteskbold_legacy';
    color: var(--black);
}

header .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

header .navbar-nav.ml-auto .nav-link {
    padding-right: 0;
}

header .btn {
    padding: .3rem .75rem;
    line-height: 1;
    height: fit-content;
    font-size: 14px;
    min-width: 101px;
    min-height: 27.59px;
}

header .navbar-expand-lg .navbar-nav {
    align-items: center;
}

.navbar-light .navbar-brand {
    font-family: 'hk_groteskbold_legacy';
    font-size: 30px;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
    display: block;
    line-height: 1;
    margin-top: -5px;
}





/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {

    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width: calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    >li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}