---
layout: default
---

<main>
  <div class="breadcrumb-sec bg-gray-200">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <!-- Breadcrumb -->
          <ol class="breadcrumb breadcrumb-scroll">
            <li class="breadcrumb-item">
              <a href="/" class="text-gray-700">
                Help Center
              </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              {{ page.categories}}
            </li>
          </ol>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </div>

  <section class="article-sec pt-6 pt-md-8 pb-8 mb-md-8">
    <div class="container">
        {{content}}
    </div>
  </section>

</main>

