<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="help">    
    {% include header.html %}
    {{ content }}
    {% include footer.html %}

    <script>
      function initFreshChat() {
          window.fcWidget.init({
              token: "b6c63216-c0b6-4506-89ba-53fe2fde7700",
              host: "https://wchat.freshchat.com"
          });
      }

      function initialize(i, t) {
          var e;
          i.getElementById(t) ? initFreshChat() : ((e = i.createElement("script")).id = t, e.async = !0, e.src =
              "https://wchat.freshchat.com/js/widget.js", e.onload = initFreshChat, i.head.appendChild(e))
      }

      function initiateCall() {
          initialize(document, "freshchat-js-sdk")
      }
      window.addEventListener ? window.addEventListener("load", initiateCall, !1) : window.attachEvent("load",
          initiateCall, !1);
  </script>
  </body>
</html>